@(image: Image, user: Option[User], favorite: Boolean)

@main("LGTM") {
	@navbar(user)
}{
<section class="image-detail">
	<div class="info">
		<input type="text" class="markdown" value="![@image.id](@image.image_url)" readonly>
		<div class="buttons">
			<button class="button copy">copy<i class="fa fa-clipboard"></i></button>
			@if(favorite) {
				<a class="button unfavorite" href="/images/@image.id/unfavorite">unfavorite<i class="fa fa-star-o"></i></a>
			} else {
				<a class="button favorite" href="/images/@image.id/favorite">favorite<i class="fa fa-star"></i></a>
			}
		</div>
	</div>
	<div class="image-wrapper">
		<img class="image" src=@image.image_url />
	</div>
</section>	
}
