@(title: String)(navbar: Html)(content: Html)

<!DOCTYPE html>
<html lang="ja">
    <head>
		<meta charset="UTF-8">
        <title>@title</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="@routes.Assets.versioned("lib/normalize.css/normalize.css")">		
		<link rel="stylesheet" hef="@routes.Assets.versioned("lib/dropzone/dist/dropzone.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">		
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
		<header class="header">
			<nav class="global-nav">
				<ul class="clearfix">
					<li class="nav-item"><a href="/">LGTM</a></li>
					<li class="nav-item nav-right"><a href="/signin">SIGN IN</a></li>
					<li class="nav-item nav-right"><a href="/upload">UPLOAD</a></li>
				</ul>
			</nav>
		</header>
		<div class="wrapper">
			@content
		</div>
		<footer class="footer"></footer>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>		
		<script src="@routes.Assets.versioned("lib/dropzone/dist/dropzone.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("javascripts/dropzone-config.js")" type="text/javascript"></script>				
    </body>
</html>







